


modules/*
exercises/*


# --- M00  Grundlagen & Werkzeuge ---------------------------- [FREIGEGEBEN]
!modules/M00_Grundlagen_und_Werkzeuge.md
!exercises/M00/
!exercises/M00/**

# --- M01  Erweiterte Funktionen ----------------------------------- [TODO]
!modules/M01_Erweiterte_Funktionen.md
!exercises/M01/
!exercises/M01/**

# --- M02  Befehl zu Funktion & Module ----------------------------- [TODO]
!modules/M02_Befehl_zu_Funktion_und_Module.md
!exercises/M02/
!exercises/M02/**

# --- M03  Parameter & Validation ---------------------------------- [TODO]
!modules/M03_Parameter_und_Validation.md
!exercises/M03/
!exercises/M03/**

# --- M04  Pipeline-Input ------------------------------------------ [TODO]
!modules/M04_Multiple_Objects_und_Pipeline.md
!exercises/M04/
!exercises/M04/**

# --- M05  Komplexer Output ---------------------------------------- [TODO]
!modules/M05_Komplexer_Output.md
!exercises/M05/
!exercises/M05/**

# --- M06  Comment-Based Help -------------------------------------- [TODO]
#!modules/M06_Comment_Based_Help.md
#!exercises/M06/
#!exercises/M06/**

# --- M07  WhatIf / Confirm ---------------------------------------- [TODO]
#!modules/M07_WhatIf_Confirm.md
#!exercises/M07/
#!exercises/M07/**

# --- M08  Controller-Skripte -------------------------------------- [TODO]
#!modules/M08_Controller_Skripte.md
#!exercises/M08/
#!exercises/M08/**

# --- M09  Fehlerbehandlung ---------------------------------------- [TODO]
#!modules/M09_Fehlerbehandlung.md
#!exercises/M09/
#!exercises/M09/**

# --- M10  XML ----------------------------------------------------- [TODO]
#!modules/M10_XML_Daten.md
#!exercises/M10/
#!exercises/M10/**

# --- M11  Debugging & Analyse ------------------------------------- [TODO]
#!modules/M11_Debugging_und_Analyse.md
#!exercises/M11/
#!exercises/M11/**

# --- M12  PowerShell Workflow ------------------------------------- [TODO]
#!modules/M12_PowerShell_Workflow.md
#!exercises/M12/
#!exercises/M12/**

# --- M13  Just Enough Administration ------------------------------ [TODO]
#!modules/M13_JEA.md
#!exercises/M13/
#!exercises/M13/**


lab_description.md
demos/
**/demos/
solutions/
**/solutions/
*.solution.ps1

# --- Standard-Ignores -----------------------------------------------------
*.psd1.bak
*.tmp
*.log
.vscode/
.history/
Thumbs.db
desktop.ini
